# 🔒 Ігноруємо секретні ключі Firebase
serviceAccountKey.json

# 🚀 Ігноруємо `node_modules`
node_modules/
npm-debug.log*

# 🏗 Ігноруємо кеші
.DS_Store
.env
.vscode/
.idea/

# 📦 Ігноруємо вихідні файли після зборки (якщо є)
dist/
build/